<ion-list color="dark" #lista>

    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminada">
        <ion-item-options side="start">
            <ion-item-option (click)="editarLista(lista)" color="primary">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item (click)="listaSeleccionada(lista)" detail color="dark">
            <ion-label>
                {{lista.titulo}}
            </ion-label>
            <ion-note slot="end" style="color: #3b83db !important;">{{lista.items.length}} items</ion-note>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="borrarLista(lista)" color="danger">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>